{% extends 'base1.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container items-align-center w-50">
    <div class="container bg-primary mt-5">
    <h3 class=" fw-bold pt-4 text-center text-white">Add Task Details</h3><br>
</div>
    <div class="container bg-danger p-5">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}  <!-- or just {{ form }} if not using crispy -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>



{% endblock %}